
.nav {
    margin: 0 0 0 -0.75em;
}

.nav__item {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.1em;
    text-align: left;
    border-radius: 50%;
}

.nav__item > span {
    display: none;
}

.nav__item:hover:before {
    content: attr(data-info);
    font-size: 0.85em;
    font-weight: bold;
    position: absolute;
    top: 120%;
    left: 0;
    width: 600%;
    text-align: left;
    pointer-events: none;
    color: #595a5f;
}

.nav__item:hover {
    background: #04C4D9;
}

.nav {
    line-height: 2.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
}

.nav a:hover:after {
    color: #fff;
}
